// Global Variables

// colours

// layout
$brand-spacing: 40px;

// typography
$brand-font-stack:  'Helvetica Neue', 'Helvetica', sans-serif;
$brand-font-normal: 400;
$brand-font-bold:   600;

// main z-indexes
$z-index-header: 10;
$z-index-menus: 100;
$z-index-main: 10;
